<div class="searchBar">
    <div class="container">
        <form action="/search" class="search__form" role="search" methode="POST">
            <input type="search" aria-label="search" id="searchinput" name="search" placeholder="Search the site" />
        </form>
        <div id="searchClose">Close</div>
    </div>
</div>